@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#app{
    font-family: GmarketSansMedium;
    background-color: #5b2386;
    color: white;
    text-align: center;
    padding-bottom:70px;
}

.tit-law{
    display: inline-block;
    position: relative;
    margin-top:194px;
}


.tit-law .img-tit {
    position: relative;
    z-index: 10;
}


.tit-law::after{
    display: block;
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:225px;
    height:225px;
    margin:-112px 0 0 -112px;
    background-image: url("./images-law/images-law/title_bg.png");
    background-position: center;
}

.img-txt{
    max-width:486px;
    margin:125px auto 84px;
}

.txt-desc{
    position: relative;
    width:475px;
    margin:0 auto 96px;
    line-height: 30px;
    font-size: 18px;
}
.txt-desc .tit-desc{
    font-size: 24px;
    font-weight:bold;
}
.txt-desc::before, .txt-desc::after{
    position:absolute;
    top:50%;
    display: block;
    content:'';
    width:37px;
    height:32px;
    margin-top:-16px;
}
.txt-desc::before{
    left:0;
    background-image: url("./images-law/images-law/txt-left.png");
}

.txt-desc::after{
    right:0;
    background-image: url("./images-law/images-law/txt-right.png");
}

.cont-inp, .cont-result{
    font-size: 24px;
    line-height: 24px;
}
.cont-inp .txt-wannabe{
    margin-bottom:30px;
}
.cont-inp .txt-time{
    margin-bottom:116px;
}
.cont-inp .txt-wannabe input, .cont-inp .txt-time input{
    width:224px;
    height:53px;
    margin:0 10px;
    border:none;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    vertical-align: 4px;
}

.cont-inp .btn-exc, .btn-go, .btn-share, .close-btn{
    padding:21px 49px;
    margin-bottom:150px;
    font-size: 24px;
    line-height: 24px;
    font-family: GmarketSansBold;
    color:#5B2386;
    background-color: #FCEE21;
    border-radius: 56px;
    cursor:pointer;
    border:none;
}
.btn-go, .btn-share{
    margin-bottom:0;
}
.cont-inp .btn-exc{
    position: relative;
}
.cont-inp .btn-exc::after{
    display: block;
    position:absolute;
    right: -72px;
    bottom: -20px;
    content:'';
    width:64px;
    height:72px;
    background-image: url("./images-law/images-law/hand.png");
}

.result-loading {
    display: none;
    justify-content: center;
    margin-bottom: 80px;
}

.result-loading .img-wrap {
    width: 100px;
    height: 100px;
}

.result-loading .img-wrap img {
    width: 100%;
    height: auto;
    animation: rotate 1.1s infinite linear;
}

.cont-result .txt-wannabe, .cont-result .txt-time{
    line-height:68px;
}
.cont-result{
    display: none;
    margin-bottom:130px;
    flex-direction: column;
    text-align: center;
}
.cont-result .txt-wannabe{
    margin-bottom:22px;
}
.cont-result .txt-time{
    margin-bottom:127px;
}
.cont-result .txt-wannabe strong, .cont-result .txt-time strong{
    font-size:72px;
    vertical-align:top;
    font-family: GmarketSansBold;
}

.btn-share{
    margin-left:18px;
    background-color: #fff;
}

.result-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/* 모달 */
#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-content: center;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999
}

#modal .modal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
}

#modal .cheer {
    color: #5b2386;
    text-align: center;
    font-family: 'OTEnjoystoriesBA';
}

#modal .cheer h1 {
    font-size: 60px;
}

#modal .cheer h3 {
    font-size: 30px;
}

#modal .licat-img {
    text-align: center;
    margin-bottom: 10px;
}

#modal .img1 {
    width: 420px;
    height: 380px;
    text-align: center;
    margin-left: 100px;
}

#modal .btn .close-btn {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);
    margin-bottom: 10px;
}

#modal .btn p {
    color: #747474;
    text-align: center;
    font-size: 13px;
}

.cont-footer{
    font-family: Noto Sans KR;
    font-size: 12px;
    line-height: 17px;
}

.cont-footer .img-footer{
    width:125px;
    height:25px;
    margin:0 auto 20px;
}

@media screen and (max-width:360px){
    #app{
        padding:0 24px 32px;
    }
    .tit-law{
        width: 267px;
        height: 57px;
        margin-top:76px;
    }
    .tit-law::after{
        width:106px;
        height:106px;
        margin: -53px 0 0 -53px;
        background-size:106px;
    }

    .img-txt{
        max-width:297px
    }
    .txt-desc{
        margin-bottom:62px;
        font-size:14px;
    }
    .txt-desc .tit-desc{
        font-size:16px;
    }
    .txt-desc::before, .txt-desc::after{
        width:18px;
        height:15px;
        background-size: 18px 15px;
    }
    .cont-inp, .cont-result{
        font-size: 14px;
        line-height:14px;
    }
    .cont-inp .txt-wannabe input, .cont-inp .txt-time input{
        width:156px;
        height:37px;
        font-size:14px;
        margin:0 2px;
        padding:0;
    }
    .cont-inp .txt-wannabe{
        margin-bottom:17px;
    }
    .cont-inp .txt-time input{
        margin-top:17px;
    }
    .cont-inp .btn-exc{
        width:280px;
        padding: 19px 36px;
        font-size:17px;
        line-height: 17px;
        border-radius: 13px;
    }
    .cont-inp .btn-exc::after{
        width:43px;
        height:48px;
        background-size: 43px 48px;
        right:-40px;
        top:30px;
    }
    .cont-result .txt-wannabe strong, .cont-result .txt-time strong{
        font-size:24px;
        line-height:24px;
        vertical-align: -4px;
    }
    .cont-result .txt-wannabe, .cont-result .txt-time{
        line-height:14px;
    }
    .cont-inp .btn-exc, .btn-go, .btn-share{
        font-size:14px;
        padding:12px 17px;
    }
    .btn-share{
        margin-left:14px;
    }
    .cont-footer .img-footer{
        width:91px;
        height:18px;
    }
    .cont-footer{
        font-size:9px;
    }
    .img-txt{
        margin: 69px auto 62px;
    }
    .cont-inp .txt-time{
        margin-bottom:49px;
    }
    .cont-inp .btn-exc{
        margin-bottom:64px;
        padding: 12px 54px;
    }
    .cont-result .txt-time{
        margin-bottom:55px;
    }
    .cont-result{
        margin-bottom:83px;
    }
}

@media screen and (max-width:780px){
    #app{
        padding:0 24px 32px;
        width: 120%;
    }
    .tit-law{
        width: 200px;
        height: 57px;
        margin-top:76px;
    }
    .tit-law::after{
        width:106px;
        height:106px;
        margin: -53px 0 0 -53px;
        background-size:106px;
    }

    .img-txt{
        max-width:297px
    }
    .txt-desc{
        margin-bottom:62px;
        font-size:16px;
    }
    .txt-desc .tit-desc{
        font-size:16px;
    }
    .txt-desc::before, .txt-desc::after{
        width:18px;
        height:15px;
        background-size: 18px 15px;
    }
    .cont-inp, .cont-result{
        font-size: 14px;
        line-height:30px;
    }
    .cont-inp .txt-wannabe input, .cont-inp .txt-time input{
        width:120px;
        height:30px;
        font-size:12px;
        margin:0 2px;
        padding:0;
    }
    .cont-inp .txt-wannabe{
        margin-bottom:14px;
    }
    .cont-inp .txt-time input{
        margin-top:14px;
    }
    .cont-inp .btn-exc{
        width:280px;
        padding: 19px 36px;
        font-size:17px;
        line-height: 17px;
        border-radius: 13px;
    }
    .cont-inp .btn-exc::after{
        width:43px;
        height:48px;
        background-size: 43px 48px;
        right:-40px;
        top:30px;
    }
    .cont-result .txt-wannabe strong, .cont-result .txt-time strong{
        font-size:24px;
        line-height:24px;
        vertical-align: -4px;
    }
    .cont-result .txt-wannabe, .cont-result .txt-time{
        line-height:14px;
    }
    .cont-inp .btn-exc, .btn-go, .btn-share{
        font-size:14px;
        padding:12px 17px;
    }
    .btn-share{
        margin-left:14px;
    }
    .cont-footer .img-footer{
        width:91px;
        height:18px;
    }
    .cont-footer{
        font-size:9px;
    }
    .img-txt{
        margin: 69px auto 62px;
    }
    .cont-inp .txt-time{
        margin-bottom:49px;
    }
    .cont-inp .btn-exc{
        margin-bottom:64px;
        padding: 12px 54px;
    }
    .cont-result .txt-time{
        margin-bottom:55px;
    }
    .cont-result{
        margin-bottom:83px;
    }
}